@media only screen and (min-width: 1039px) and (max-device-width: 2000px) {
  * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  header {
    background-color: #f7f6f2;
  }
  .mobile_container {
    display: none;
  }
  #header_nav_home_page {
    display: flex;
    justify-content: space-between;
  }
  #header_ul_home_page {
    font-size: 200%;
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    align-items: center;
  }
  .header_li_home_page {
    font-size: 100%;
  }
  .header_li_home_page:hover {
    font-size: 101%;
  }

  #header_ul_home_page .header_li_home_page {
    font-family: "Merienda", cursive;
    list-style: none;
    transition: 0.5s;
    transition-timing-function: linear;
  }
  a {
    color: black;
    text-decoration: none;
  }
  #imgLogoHome {
    width: auto;
    height: 110px;
  }
  #shoppingBag {
    height: 40px;
    width: auto;align-items: center;
    justify-content: center;
  }

  main {
    background-color: #c8c6c6;
  }
  .section_category_mobile {
    display: flex;
    padding: 2%;
    position: relative;
  }

  .text_on_img {
    position: absolute;
    bottom: 14%;
    left: 6.5%;
    background-color: antiquewhite;
    border-radius: 6px;
    padding: 0.2%;
    animation: shadow-inset-top-text_on_img 0.4s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes shadow-inset-top-text_on_img {
    0% {
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: inset 0 6px 14px -6px rgba(0, 0, 0, 0.5);
    }
  }

  .img_category_mobile {
    width: 24%;
    height: auto;
    padding: 2%;
    border-radius: 33px;
    animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes shadow-drop-center {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  .item_name,
  .item_price {
    padding: 2%;
    font-size: 168%;
  }
  .section_home_page {
    border-radius: 10px;
    padding: 0.5%;
  }
  .shopping_img_cart_add {
    width: 3%;
    height: auto;
    position: absolute;
    bottom: 9%;
    left: 26%;
  }
  .shopping_img_cart_remove {
    border-radius: 10px;
    padding: 0.5%;
    width: 3%;
    height: auto;
    position: absolute;
    bottom: 9%;
    left: 35%;
  }
  .sort_by {
    display: flex;
    background-color: #807e7e;
    padding: 1%;
    font-family: "Kalam", cursive;
    justify-content: space-between;
  }
}
