* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.m .mobile_container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}
.topnav {
  overflow: hidden;
  background-color: #c8c6c6;
  position: relative;
}

.topnav #header_nav_home_page_for_mobile {
  display: none;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  color: black;
  top: 0;
}
.active {
  background-color: #f7f6f2;
  color: black;
}
#header_nav_home_page {
  display: none;
}
#header_shopping_bag_mobile {
  width: 7%;
  height: auto;
}
header {
  background-color: #f7f6f2;
}
main {
  background-color: #c8c6c6;
}
.mobile_container {
  display: none;
}
#header_nav_home_page {
  display: flex;
  justify-content: space-between;
  background-color: #f7f6f2;
}
#header_ul_home_page {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  align-items: center;
}
#header_ul_home_page .header_li_home_page {
  font-family: "Merienda", cursive;
  list-style: none;
}
#imgLogoHome {
  width: auto;
  height: 110px;
}
#shoppingBag {
  height: 40px;
  width: auto;
}
a {
  text-decoration: none;
}
main {
  background-color: #c8c6c6;
}
