@media only screen and (min-width: 513px) and (max-device-width: 1038px) {
  * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  .m .mobile_container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  .topnav {
    overflow: hidden;
    background-color: #c8c6c6;
    position: relative;
  }

  .topnav #header_nav_home_page_for_mobile {
    display: none;
    font-family: "Merienda", cursive;
  }

  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    color: black;
    top: 0;
  }
  .active {
    background-color: #f7f6f2;
    color: black;
  }
  #header_nav_home_page {
    display: none;
  }
  #header_shopping_bag_mobile {
    width: 7%;
    height: auto;
  }
  header {
    background-color: #f7f6f2;
  }
  main {
    background-color: #c8c6c6;
  }
  .footer_section_home_page {
    text-align: center;
  }
  footer {
    background-color: #4b6587;
  }
  .footer_h5_home_page {
    color: black;
    font-size: 145%;
    font-family: "Merienda", cursive;
    font-family: "Voltaire", sans-serif;
  }
  ul {
    list-style: none;
  }
  .footer_ul_home_page a {
    list-style: none;
    text-decoration: none;
    color: black;
    list-style: none;
    font-family: "Allura", cursive;
    font-family: "Merienda", cursive;
    font-family: "Sriracha", cursive;
    font-family: "Voltaire", sans-serif;
  }
  .footer_img_home_page {
    width: 7%;
    height: auto;
  }

  .footer_input_home_page {
    width: 28%;
    padding: 0.5%;
  }
  .footer_btn_home_page {
    width: 40%;
    border-radius: 44px;
  }
  .m .mobile_container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  .topnav {
    overflow: hidden;
    background-color: #c8c6c6;
    position: relative;
  }
  .topnav #header_nav_home_page_for_mobile {
    display: none;
  }

  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    color: black;
    top: 0;
  }
  .active {
    background-color: #f7f6f2;
    color: black;
  }
  #header_nav_home_page {
    display: none;
  }
  .img_home_page {
    display: inline;
  }
  #header_shopping_bag_mobile {
    width: 7%;
    height: auto;
  }
  header {
    background-color: #f7f6f2;
  }
  main {
    background-color: #c8c6c6;
  }
  .th_for_table {
    color: black;
        font-family: 'Courgette', cursive;

  }
  .img_table {
    width: 100%;
    height: auto;
  }
  .cart_all {
    background: #8b8b8b70;
    font-family: 'Red Hat Display', sans-serif;
  }
  #All_rights_reserved {
    font-family: "Allura", cursive;
    font-family: "Merienda", cursive;
    font-family: "Voltaire", sans-serif;
  }
  .footer_btn_home_page {
    width: 30%;
    height: 40%;
    padding: 7px 25px;
    border: 2px solid;
    border-radius: 10px;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  .fo .footer_butn {
    color: rgb(0, 0, 0);
    padding: 0;
    border: none;
    font-family: "Allura", cursive;
    font-family: "Merienda", cursive;
    font-family: "Sriracha", cursive;
    font-family: "Voltaire", sans-serif;
  }
  label {
    font-family: "Allura", cursive;
    font-family: "Merienda", cursive;
    font-family: "Sriracha", cursive;
    font-family: "Voltaire", sans-serif;
  }
}
