@media only screen and (min-width: 1039px) and (max-device-width: 2000px) {
  * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  header {
    padding: 2%;
    background-color: #f7f6f2;
  }
  .mobile_container {
    display: none;
  }
  #header_nav_home_page {
    display: flex;
    justify-content: space-between;
  }
  #header_ul_home_page {
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    align-items: center;
  }
  .header_li_home_page {
    font-size: 180%;
    transition: 0.5s;
    transition-timing-function: linear;
  }
  .header_li_home_page:hover {
    font-size: 190%;
  }
  #header_ul_home_page .header_li_home_page {
    font-family: "Merienda", cursive;
    list-style: none;
  }
  #imgLogoHome {
    width: auto;
    height: 110px;
  }
  #shoppingBag {
    height: 40px;
    width: auto;
    transition: 1s;
    transition-timing-function: linear;
  }
  #shoppingBag:hover {
    height: 42px;
    width: auto;
  }
  main {
    background-color: #c8c6c6;
  }
  #toUp {
    position: relative;
    width: 99px;
    position: absolute;
    height: 99px;
    border-radius: 50%;
    background-color: rgb(20, 220, 37);
  }
  #thetoUp {
  }
  .section_home_page {
    border-radius: 10px;
    padding: 0.5%;
  }
  .section_home_page:hover {
    animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  }
  @keyframes shadow-inset-center {
    0% {
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      transform: translateZ(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      transform: translateZ(50px);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  a {
    color: black;
    text-decoration: none;
  }
  .section_home_page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .img_home_page {
    width: auto;
    height: 40%;
    border-radius: 50px;
    animation: img_home_page 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes img_home_page {
    0% {
      transform: translateZ(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      transform: translateZ(50px);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  .h1_home_page {
    font-family: "Merienda", cursive;
    font-size: 80px;
    animation: text-shadow-drop-bottom 0.6s both;
  }

  @keyframes text-shadow-drop-bottom {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
    }
  }
  footer {
    font-size: 100%;
    background-color: #4b6587;
  }
  .footer_h5_home_page {
    font-family: "Merienda", cursive;
    font-family: "Voltaire", sans-serif;
  }
  #footer_div_home_page {
    display: flex;
    justify-content: space-evenly;
  }
  .footer_img_home_page {
    height: 39px;
    width: auto;
  }
  .footer_img_home_page:hover {
    animation: slide_to_top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes slide_to_top {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  .footer_ul_home_page li {
    list-style: none;
    font-family: "Allura", cursive;
    font-family: "Merienda", cursive;
    font-family: "Sriracha", cursive;
    font-family: "Voltaire", sans-serif;
  }
  .footer_btn_home_page {
    width: 33%;
    height: 40%;
    padding: 10px 25px;
    border: 2px solid;
    border-radius: 10px;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  .footer_butn {
    color: rgb(0, 0, 0);
    padding: 0;
    border: none;
    font-family: "Allura", cursive;
    font-family: "Merienda", cursive;
    font-family: "Sriracha", cursive;
    font-family: "Voltaire", sans-serif;
  }
  .footer_butn:hover {
    background: transparent;
    color: black;
    box-shadow: -1px -1px 20px 0px #fff9, -1px -1px 1px 0px #fff9,
      7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  }
  #All_rights_reserved {
    font-family: "Allura", cursive;
    font-family: "Merienda", cursive;
    font-family: "Voltaire", sans-serif;
  }
  label {
    font-family: "Allura", cursive;
    font-family: "Merienda", cursive;
    font-family: "Sriracha", cursive;
    font-family: "Voltaire", sans-serif;
  }
}
