@media only screen and (min-width: 1039px) {
  * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  .mobile_container {
    display: none;
  }
  #header_nav_home_page {
    display: flex;
    justify-content: space-between;
    background-color: #f7f6f2;
  }
  #header_ul_home_page {
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    align-items: center;
  }
  #header_ul_home_page .header_li_home_page {
    font-family: "Merienda", cursive;
    list-style: none;
  }
  #imgLogoHome {
    width: auto;
    height: 110px;
  }
  #shoppingBag {
    height: 40px;
    width: auto;
  }
  main {
    background-color: #c8c6c6;
  }
  .section_home_page {
    border-radius: 50px;
    padding: 0.5%;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .section_home_page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .img_home_page {
    width: auto;
    height: 40%;
    border-radius: 50px;
  }

  .h1_home_page {
    font-family: "Merienda", cursive;
    font-size: 80px;
  }
  footer {

    font-size: 100%;
    background-color: #4b6587;
  }
  #footer_div_home_page {
    display: flex;
    justify-content: space-evenly;
  }
  .footer_img_home_page {
    height: 39px;
    width: auto;
  }

  .footer_ul_home_page li {
    list-style: none;
  }

  .footer_btn_home_page {
    width: 33%;
    height: 40%;
    padding: 10px 25px;
    border: 2px solid;
    border-radius: 10px;

    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  .footer_butn {
    color: rgb(0, 0, 0);
    padding: 0;
    border: none;
  }
  .footer_butn:hover {
    background: transparent;
    color: black;
    box-shadow: -1px -1px 20px 0px #fff9, -1px -1px 1px 0px #fff9,
      7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  }
}
