@media only screen and (min-device-width: 5px) and (max-device-width: 512px) {
  * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  .m .mobile_container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }

  .topnav {
    overflow: hidden;
    background-color: #c8c6c6;
    position: relative;
  }
a{
  text-decoration: none;
  color: black;
}
  .topnav #header_nav_home_page_for_mobile {
    display: none;
    font-family: "Delius", cursive;
    font-family: "Exo 2", sans-serif;
    font-family: "GFS Neohellenic", sans-serif;
    font-family: "Merriweather Sans", sans-serif;
    font-family: "Open Sans Condensed", sans-serif;
  }

  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    color: black;
    top: 0;
  }
  .active {
    background-color: #f7f6f2;
    color: black;
  }
  #header_nav_home_page {
    display: none;
  }
  #header_shopping_bag_mobile {
    width: 7%;
    height: auto;
  }
  header {
    background-color: #f7f6f2;
  }
  main {
    background-color: #c8c6c6;
  }
  .h1_home_page {
    display: none;
  }
  .img_home_page {
    width: 99%;
    height: auto;
  }
  .pic_for_home_page_mobile {
    width: 10%;
    height: auto;
  }
  .footer_section_home_page {
    text-align: center;
  }

  footer {
    background-color: #4b6587;
  }
  .footer_h5_home_page_for_mobile {
    display: none;
  }
  .footer_li_home_page_for_mobile {
    display: none;
  }
  .footer_h5_home_page {
    color: black;
    font-family: "Merienda", cursive;
    font-family: "Voltaire", sans-serif;
  }
  .footer_ul_home_page {
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: "Open Sans Condensed", sans-serif;
    font-family: "Allura", cursive;
    font-family: "Merienda", cursive;
    font-family: "Sriracha", cursive;
    font-family: "Voltaire", sans-serif;
  }
  .footer_img_home_page {
    width: 10%;
    height: auto;
  }
  .footer_h5_home_page {
    font-size: 145%;
  }
  .footer_input_home_page {
    width: 40%;
    height: auto;
  }
  .footer_btn_home_page {
    width: 40%;
    border-radius: 44px;
    font-family: "Allura", cursive;
    font-family: "Merienda", cursive;
    font-family: "Sriracha", cursive;
    font-family: "Voltaire", sans-serif;
  }
  #All_rights_reserved {
    font-family: "Delius", cursive;
    font-family: "Exo 2", sans-serif;
    font-family: "Fleur De Leah", cursive;
    font-family: "GFS Neohellenic", sans-serif;
    font-family: "Merriweather Sans", sans-serif;
    font-family: "Open Sans Condensed", sans-serif;
  }

  label {
    font-family: "Allura", cursive;
    font-family: "Merienda", cursive;
    font-family: "Sriracha", cursive;
    font-family: "Voltaire", sans-serif;
  }
}
